
<nav class="d-flex navbar-lewagon m-0">
  <p class="m-3"><i class="fa-solid fa-user-astronaut"></i></p>
  <div class="d-flex">
    <%= link_to "Back to creatures", creatures_path, class:"m-3" %>
    <a href="#" class="m-3">Rent a creature</a>
    <a href="#" class="m-3">Your creatures</a>
    <a href="#" class="m-3">Your playtimes</a>
    <%= link_to "Log out", destroy_user_session_path, class: "m-3" %>
  </div>
</nav>


<div class="container">
  <h1>Add a new creature</h1>

   <div>
    <%= render "form", creature: @creature %>
  </div>


  <div>
    <%= link_to "Back to creatures", creatures_path %>
  </div>

<div>
