<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">
</head>
<body>

<% <div style= "background-image: url('<%=./assets/images/galaxy.jpg%>')"> %>

  <h1 class="title fascinate-regular"><center>Cosmo Creatures</center></h1>
  <div class="center">
    <%= link_to "Explore Creatures", creatures_path, class: "btn" %>
  <div>
    <p>
      Welcome to Cosmo Creatures, your premier destination for renting out otherworldly creatures!
      At Cosmo Creatures, we believe that the wonders of the universe shouldn't be limited to the pages of science fiction.
      That's why we specialize in offering a unique and unforgettable experience by providing a diverse selection of alien animals for hire
    </p>
  </div>
  </div>
  </div>
</body>
