
<div class="container">
<h1>My playtimes</h1>

<% @playtimes.each do |time| %>
  <div class="card play-card p-2 m-3">
    <% @creature = time.creature %>
    <h3>Creature: <%= link_to time.creature.name, creature_path(@creature) %></h3>
    <h5>Owner: <%= time.creature.user.email %></h5>
    <h5><%= time.start_date.to_fs(:rfc822) %></h5>

  </div>
<% end %>

</div>
