.btn-blue {
  color: white;
  background-color: #192450;
  padding: 8px 24px;
  border-radius: 4px;
  border: #070F2B;
  transition: 0.3s ease;
  float: right;
}

.btn-blue:hover {
  background: #070F2B;
  color: white;
}
