.btn-blue {
  color: white;
  background-color: #192450;
  padding: 8px 24px;
  border-radius: 4px;
  border: #070F2B;
  transition: 0.3s ease;
  float: right;
}

.btn-blue:hover {
  background: #070F2B;
  color: white;
}

.btn-hidden {
  display: none;
}


#homepage-button{
  color:  #3d57bd;
  background-color: white;
  opacity: 0.7;
  border: 2px solid white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px
}

#homepage-button:hover{
  background-color: lightgrey;
  color: #192450;
}
