// Index list cards
.index-card {
  position : relative;
  border-radius: 20px;

  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &:hover{

    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .index-img{
      width: 330px;
      height: 330px;
    }

  }

  .index-img {
    border-radius: 20px;
  }
}
