.card-add-creature {
  width: 50%;
  margin: auto;
  border: #070F2B;
  background-color: #070F2B;
  border-radius: 5px;
}

.input-creature {
  width: 75%;
  margin: auto;
  color:white;
  padding-top: 15px;
}
